# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Settings
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Configuration files
config.js
.env

# Project files for Eclipse / Flash Builder
# These should not be excluded as they contain important information
# .project
# .actionScriptProperties
# .flexProperties
